input{
    font-family: Arial, Helvetica, sans-serif;
}

input[type="text"]{
    border: 0;
    border: 0;
    padding: 13px 12px;
    border-bottom: 1px solid black;
}

input[type="submit"]{
    color: white;
    background: black;
    border: none;
    transition: all 0.5s ease-in;
    cursor: pointer; 
    margin: 15px;
    padding: 15px 25px;
}

input[type="submit"]:hover{
    background: #383838;
}


input[type="text"]:focus{
    outline-color: transparent;
}

ul{
    list-style: none;
    text-align: left;
    width: 100%;
    padding: 0;
}

ul li{
    width: 100%;
    display: inline-block;
    padding: 5px;
    box-sizing:border-box;
}

ul li img{
    width: 100%;
}


@media screen and (min-width: 480px){
    ul li{
        width: 50%;
    }
}

@media screen and (min-width: 750px){
    ul li{
        width: 25%;
    }
}