<form (submit)="searchGif(word, $event)">
  <input type="text" #word>
  <input type="submit" value="Buscar">
</form>

<ul>
  <li *ngFor= "let gif of gifs">
    <img src="{{ gif.images.original.url }}" alt="">
  </li>
</ul>
