<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Bienvenidos al buscador de gif's KTBO
  </h1>
  <h3>By Ireth</h3>
<p>¡Pon la palabra que deseas buscar y listo!</p>
<app-galeria></app-galeria>
</div>